.transform{
    width: 100px;
    height: 100px;
    background: rgb(0, 242, 255);
    transition: border-radius 4s background 4s;
}
.transform:hover {
    border-radius: 35%;
    background: rgb(180, 84, 84);
    transition-duration: 2s ;
    margin-left: 25px;
}
.transform:hover {
    
    border-radius: 50%;
    background-color: rgb(243, 61, 61);
}